{% extends "base.html" %}

{% block content %}



<div class="container">
<div>
<h2>Criteri di valutazione </h2>
</div>
<table class="table">
	<tr><td></td><th>Criteri di valutazione</th><th>Elementi per la valutazione</th></tr>
	<tr class="color-orange"><td>A</td><th>Originalità del contenuto creativo del progetto e abilità comunicativa</th><th></th></tr>
	<tr class="color-orange"><td>A1</td><td>Capacità di sintesi comunicativa</td><td>Pitch (output Lezione 5)</td></tr>
	<tr class="color-orange"><td>A2</td><td>Capacità di sintesi creativa</td><td>Elaborato Creativo Finale (output Lezione 5)</td></tr>
	<tr class="color-orange"><td>A3</td><td>Efficacia materiale multimediale e coerenza di stile</td><td> "Logo, galleria immagini, video visita di monitoraggio, locandina evento Open Data Day (output trasversali a varie lezioni)"</td></tr>
	<tr class="color-blue"><td>B</td><th>Capacità di individuare, organizzare e valorizzare diverse fonti di dati e informazioni sugli interventi di OpenCoesione e sul territorio circostante </th><th></th></tr>
	<tr class="color-blue"><td>B1</td><td>Capacità di progettazione</td><td>La ricerca in 140 caratteri (output Lezione 1), Canvas (output Lezione 1), Ricerca Disegnata (output Lezione 2)</td></tr>
	<tr class="color-blue"><td>B2</td><td>Capacità di contestualizzare la ricerca</td><td>Research Design (output Lezione 5: visualizzare tutti i fogli presenti nel file excel), Link istituzionali e altre fonti (output Lezione 2)</td></tr>
	<tr class="color-blue"><td>B3</td><td>Capacità di analisi e visualizzazione dati (efficacia e coerenza data visualization, efficacia giornalistica)</td><td>Articolo Data Journalism con grafici e infografiche (output Lezione 3)</td></tr>
	<tr class="color-green"><td>C</td><th>Rilevanza del contenuto civico del progetto e dalla sua potenzialità in termini di impatto o coinvolgimento del territorio </th><th></th></tr>
	<tr class="color-green"><td>C1</td><td>Efficacia di reporting monitoraggio civico (qualità di sintesi, rilevanza civica, approccio critico al tema)</td><td>Report Monithon (output Lezione 4)</td></tr>
	<tr class="color-green"><td>C2</td><td>Coinvolgimento territorio e organizzazione (evento + report evento)</td><td>Organizzazione evento Open Data Day (output Lezione 3), Report evento Open Data Day (output Lezione 3), Rassegna Stampa (output Lezione 3)</td></tr>
	<tr class="color-green"><td>C3</td><td>Giudizio complessivo sulla ricerca con particolare riferimento al suo impatto civico e alla sua sostenibilità</td><td>Coerenza di tutti gli output fin qui analizzati con l'obiettivo e il focus di ricerca (guardare anche la prospettiva di sostenibilità e prosecuzione autonoma con riferimento al 3° paragrafo del pitch)</td></tr>
	<tr class="color-yellow"><td>D</td><th>Coerenza con le indicazioni di consegna Team ASOC1617 e Klout score</th><th>A cura del Team ASOC</th></tr>
	<!--<tr class="color-yellow"><td>D1</td><td>Rispetto indicazioni di non utilizzo nomi OC/ASOC</td><td>Logo, Nome Team, Account Twitter</td></tr>
	<tr class="color-yellow"><td>D2</td><td>Completezza dati profilo Team</td><td>Profilo Team (logo, nome team, nome scuola, rete di supporto, account Twitter)</td></tr>
	<tr class="color-yellow"><td>D3</td><td>Rispetto indicazioni di compilazione campi Report</td><td>Indicazioni specifiche nei campi Report, con particolare riferimento alle lunghezze di testo indicate</td></tr>
	<tr class="color-yellow"><td>D4</td><td>Corretto inserimento immagini in evidenza</td><td>Presenza/assenza delle immagini in evidenza, tenendo in considerazione anche le indicazioni inviate via email (cfr. apposito file)</td></tr>
	<tr class="color-yellow"><td>D5</td><td>Formato immagini</td><td>Correttezza dei formati immagini inseriti negli appositi campi Report</td></tr>
	<tr class="color-yellow"><td>D6</td><td>Tempistica consegne</td><td>Rispetto deadline Report 1 (deadline ufficiale: 14 dicembre 2016) Rispetto deadline Report 3 (deadline ufficiali: 24 febbraio e 10 marzo 2017)</td></tr>
	<tr class="color-yellow"><td>D7</td><td>Attività Social </td><td>Klout Score</td></tr>-->

</table>

</div>

<style type="text/css" media="screen">
	.color-orange{
		background-color: #F9E7C6;
	}
		.color-green{
		background-color: #C6F9D3;
	}
		.color-blue{
		background-color: #C6CBF9;
	}
		.color-yellow{
		background-color: #F4F9C6;
	}
</style>


{% endblock content %}